/* ===== 기본 (라이트 모드) ===== */
:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}

html,
body,
ion-app,
ion-content {
  background: #ffffff;
  --background: #ffffff;
  color: #000000;
}

/* ===== 다크모드 ===== */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
  }

  html,
  body,
  ion-app,
  ion-content {
    background: #000000;
    --background: #000000;
    color: #ffffff;
  }
}
